# Using Pandas

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [2]:
cars = pd.read_csv('vehicles.csv')

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [5]:
cars.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [6]:
cars = pd.DataFrame(cars)

In [7]:
#How many observations does it have? - a row is an instance, an example, 
#print how many rows
len(cars) # to get length

35952

In [8]:
cars.shape #to get rows, columns

(35952, 15)

In [9]:
#pd.set_option("display.max.columns", None) what would happen if i did this - do at end if have time

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

Note:
<br>Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

In [10]:
#students_df["py-score"]="Adam-score"
#students_df

#cars2=cars.replace('Dutton','Apache Sp')
#print(df2)

#cars.loc 
cars = np.where(cars["Make"].str.contains(pat="Dutton"), Dutton, cars)

#pets_df['age']=pets_df['age'].apply(lambda x: x**2)

#cars['Make'].str.contains(pat= "Dutton")

NameError: name 'Dutton' is not defined

In [ ]:
cars['Make'].str.contains(pat= "Dutton").sum()

In [14]:
cars.loc[cars['Make'].str.contains(pat= "Dutton"), 'Make'] = 'Dutton'
cars.loc[cars['Make'].str.contains(pat= "Dutton")]
#Do i need to add Lamda at end pf first line

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11012,Dutton,Funeral Coach,1985,4.1,8.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
30164,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,9,11,10,888.700000,3350
31754,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,11,10,888.700000,3350

In [ ]:
"Dutton" in cars['Make']

In [21]:
#Convert CO2 Emissions from Grams/Mile to Grams/Km
#cars['CO2 Emissions Grams/Mile']=cars['CO2 Emissions Grams/Mile'].apply(lambda x: x*1.60934)
cars['CO2 Emission Grams/Mile']=cars['CO2 Emission Grams/Mile']*1.60934
cars

cars=cars.rename(columns={'CO2 Emission Grams/Mile': 'CO2 Emission Grams/KM'})
cars
#change column name to km too

KeyError: 'CO2 Emission Grams/Mile'

In [ ]:
#Create a binary column that solely indicates if the transmission of a car is automatic or manual. 
#Use pandas.Series.str.startswith and .
#cars[]=[]
#pandas.Series.str.startswith

cars[Automatic?'] = cars['Transmission'].str.startswith('Auto')

#CHECK IF WORKS

In [ ]:
#convert MPG columns to km_per_liter

cars = cars.rename(columns={'city mpg':'citykmto liter'})
cars = cars.rename(columns={'HIGHWAY mpg':'highway kmto liter'})
cars = cars.rename(columns={'combioned mpg':''combined liter'})    
                    
cars.iloc[: 10:13] = cars.iloc[: 10:13] * 3.78...

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [ ]:
len(cars['Make'].unique())

#CORRECT

In [ ]:
len(cars['Model'].unique())
#CORRECT

In [ ]:
result = cars['Make'].mode()
print("Mode:\n",result)

cars['Make'].value.counts() #this is the correct one but mine above may still work

In [ ]:
cars['Year'].unique()

In [ ]:
cars['engine diaplscemnt'].unique()

In [ ]:
cars['autmoatic'].value.counts()

cars['drivetrain'].value.counts()

In [ ]:
cars['Fuel Type'].value.counts()
cars.sort_values(by=('Fuel Barrels/Year'}, ascending = True #change this

In [ ]:
cars.sort_values(by=['Fuel Barrels/Year'], ascending=False #change this

<b> (Optional)

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [ ]:
## your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [ ]:
## Your Code is here