## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [98]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [18]:
# Your code here

In [190]:
random.randint(1, 100)

sample_list_1 = []

for i in range(80):
    sample_list_1.append(random.randint(1, 100))
    
print(sample_list_1)

[57, 95, 25, 69, 61, 19, 75, 69, 14, 99, 99, 72, 95, 58, 69, 64, 82, 65, 13, 49, 87, 14, 27, 91, 79, 98, 57, 47, 74, 44, 25, 29, 88, 98, 68, 72, 86, 40, 24, 21, 34, 90, 6, 11, 28, 72, 18, 85, 3, 98, 74, 16, 44, 57, 20, 54, 67, 95, 27, 78, 73, 60, 96, 17, 77, 13, 45, 67, 99, 22, 94, 30, 72, 74, 3, 95, 24, 59, 84, 80]

In [191]:
random.randint(1,100)

sample_list_1 = random.sample(range(100), k=80)

print(sample_list_1)

len(sample_list_1)

[24, 53, 15, 92, 3, 6, 51, 5, 65, 55, 85, 98, 14, 96, 50, 78, 95, 18, 59, 60, 10, 86, 49, 91, 37, 45, 21, 84, 56, 35, 99, 38, 66, 0, 27, 93, 81, 16, 62, 97, 13, 69, 42, 40, 48, 28, 67, 46, 73, 2, 36, 82, 94, 76, 80, 74, 90, 33, 26, 63, 8, 54, 29, 11, 79, 58, 32, 19, 4, 43, 72, 9, 83, 47, 75, 12, 87, 71, 61, 31]

80

In [192]:
#checking they are all different
import numpy as np
np.sort(sample_list_1)

array([ 0,  2,  3,  4,  5,  6,  8,  9, 10, 11, 12, 13, 14, 15, 16, 18, 19,
       21, 24, 26, 27, 28, 29, 31, 32, 33, 35, 36, 37, 38, 40, 42, 43, 45,
       46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65,
       66, 67, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [189]:
#what didn't work:
random.randint(1, 100)

sample_list_1 = []

for i in range(100):
    if len(set(random_numbers)) == 60:
        sample_list_1.append(random.randint(1, 100))
    
print(sample_list_1)

NameError: name 'random_numbers' is not defined

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [193]:
set1 = set(sample_list_1)

len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [194]:
random.randint(1, 100)

sample_list_2 = []

for i in range(0,80):
    sample_list_2.append(random.randint(1, 100))
    
print(sample_list_2)

len(sample_list_2)

[58, 38, 94, 2, 99, 25, 29, 41, 8, 76, 81, 81, 21, 42, 56, 35, 83, 78, 88, 13, 4, 45, 44, 95, 3, 50, 67, 92, 89, 18, 46, 3, 48, 89, 91, 52, 97, 40, 64, 82, 50, 54, 100, 5, 13, 20, 14, 71, 5, 71, 25, 33, 92, 92, 21, 73, 17, 87, 1, 15, 12, 14, 53, 75, 7, 43, 66, 2, 19, 81, 57, 18, 12, 72, 62, 47, 39, 85, 84, 88]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [195]:
# Your code here
set2 = set(sample_list_2)

len(set2)

63

In [196]:
len(set1)

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [197]:
set3 = (set1-set2)
print(set3)

{0, 6, 9, 10, 11, 16, 24, 26, 27, 28, 31, 32, 36, 37, 49, 51, 55, 59, 60, 61, 63, 65, 69, 74, 79, 80, 86, 90, 93, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [198]:
set4 = (set2-set1)
print(set4)

{64, 1, 89, 100, 7, 39, 41, 44, 17, 20, 52, 88, 25, 57}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [199]:
set5 = set1.intersection(set2)
print(set5)

{2, 3, 4, 5, 8, 12, 13, 14, 15, 18, 19, 21, 29, 33, 35, 38, 40, 42, 43, 45, 46, 47, 48, 50, 53, 54, 56, 58, 62, 66, 67, 71, 72, 73, 75, 76, 78, 81, 82, 83, 84, 85, 87, 91, 92, 94, 95, 97, 99}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [119]:
# Your code here

#### Create an empty set called `set6`.

In [200]:
set6 = set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [201]:
set6.update(set3)

set6.update(set5)

print(set6)

{0, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 21, 24, 26, 27, 28, 29, 31, 32, 33, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [202]:
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [203]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [204]:
setz = set3.union(set4,set5)

print(setz)

setc = set1.union(set2)
print(setc)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove an element from `set1`.

In [205]:
set1 = [90, 89, 28, 2, 2, 22, 40, 58, 79, 61, 65, 4, 38, 48, 24, 17, 77, 34, 6, 1, 14, 42, 55, 80, 76, 8, 40, 72, 66, 39, 60, 15, 57, 97, 7, 73, 21, 9, 32, 60, 54, 63, 83, 67, 28, 41, 51, 75, 24, 67, 33, 4, 67, 10, 60, 51, 3, 31, 95, 12, 88, 54, 91, 33, 20, 3, 47, 94, 73, 59, 47, 7, 10, 23, 38, 86, 59, 90, 49, 2, 
        100, 21, 75, 85, 47, 15, 55, 65, 14, 75, 18, 99, 72, 17, 57, 34, 48, 46, 40, 61]
set1.pop(0)
print(set1)

[89, 28, 2, 2, 22, 40, 58, 79, 61, 65, 4, 38, 48, 24, 17, 77, 34, 6, 1, 14, 42, 55, 80, 76, 8, 40, 72, 66, 39, 60, 15, 57, 97, 7, 73, 21, 9, 32, 60, 54, 63, 83, 67, 28, 41, 51, 75, 24, 67, 33, 4, 67, 10, 60, 51, 3, 31, 95, 12, 88, 54, 91, 33, 20, 3, 47, 94, 73, 59, 47, 7, 10, 23, 38, 86, 59, 90, 49, 2, 100, 21, 75, 85, 47, 15, 55, 65, 14, 75, 18, 99, 72, 17, 57, 34, 48, 46, 40, 61]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [224]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = set(set1)
set8 = set(list_to_remove)
remaining = (set1-set8)
print(remaining)

{2, 3, 4, 6, 7, 8, 10, 12, 14, 15, 17, 18, 20, 22, 23, 24, 28, 32, 33, 34, 38, 40, 42, 46, 47, 48, 54, 55, 57, 58, 60, 63, 65, 66, 67, 72, 73, 75, 76, 77, 80, 83, 85, 86, 88, 90, 94, 95, 97, 100}

In [211]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set(list_to_remove))

remaining = (set1-set(list_to_remove))
print(remaining)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}

TypeError: unsupported operand type(s) for -: 'list' and 'set'

In [222]:
set1 = set(set1)

In [223]:
set1

{1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 12,
 14,
 15,
 17,
 18,
 20,
 21,
 22,
 23,
 24,
 28,
 31,
 32,
 33,
 34,
 38,
 39,
 40,
 41,
 42,
 46,
 47,
 48,
 49,
 51,
 54,
 55,
 57,
 58,
 59,
 60,
 61,
 63,
 65,
 66,
 67,
 72,
 73,
 75,
 76,
 77,
 79,
 80,
 83,
 85,
 86,
 88,
 89,
 90,
 91,
 94,
 95,
 97,
 99,
 100}