# Data Analysis How-To Report

An overly lengthy yet detailed road to basic data analysis. 
To be edited before adding to portfolio.
### Aggregation into one Data Frame

In [1039]:
import numpy as np                                      
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100

In [1040]:
file1 = pd.read_csv('Data/file1.csv')
file2 = pd.read_csv('Data/file2.csv')
file3 = pd.read_csv('Data/file3.csv')

In [1041]:
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

### Unification of Columns

In [1042]:
list(file1.columns)           #check all columns so can see if different to other files and if need to be changed & unified.

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [1043]:
list(file2.columns)

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [1044]:
list(file3.columns)

['Customer',
 'State',
 'Customer Lifetime Value',
 'Education',
 'Gender',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Total Claim Amount',
 'Vehicle Class']

#### Renaming of Columns

In [1045]:
file1.rename(columns={'ST':'State'}, inplace=True)              #change the differences found to unify columns
file2.rename(columns={'ST':'State'}, inplace=True)
list(file1.columns)                                             #check if worked

['Customer',
 'State',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [1046]:
file2.rename(columns={'GENDER':'Gender'}, inplace=True)
file3.rename(columns={'GENDER':'Gender'}, inplace=True)
list(file2.columns)

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

#### Re-ordering of columns

In [1047]:
file2 = file2 [['Customer',                                       #reorder as seen above that they are not in the same order
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class', 'Total Claim Amount']]
list(file2.columns)

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [1048]:
file3 = file3 [['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class', 'Total Claim Amount']]
list(file3.columns)

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

#### Concatenating Files

In [1049]:
df = pd.concat([file1,file2,file3], axis=0)
df

,Customer,State,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,M
7066,PK87824,California,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,F
7067,TD14365,California,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,M
7068,UP19263,California,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,M
7069,Y167826,California,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,M

In [1050]:
df = df.reset_index(drop=True)                                             #resetting index as needed
df

,Customer,State,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,M
12070,PK87824,California,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,F
12071,TD14365,California,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,M
12072,UP19263,California,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,M
12073,Y167826,California,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,M

#### Standardizing header names

In [1051]:
def lower_case_column_names(df): 
    df.columns=[i.lower() for i in df.columns]                    #in list comprehension form as takes less processing power
    return df

In [1052]:
df=lower_case_column_names(df) 
list(df.columns)

['customer',
 'state',
 'gender',
 'education',
 'customer lifetime value',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'policy type',
 'vehicle class',
 'total claim amount',
 'gender']

#### Removing Duplicates

In [1053]:
df = df.loc[:,~df.columns.duplicated()].copy() 
df

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

##### Deleting and rearranging columns

In [1054]:
def drop_columns(df):
    df.drop(columns=["customer"], inplace=True) 
    return df
drop_columns(df)

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

#### Data Types
Hint: remove the percentage from the customer lifetime value and truncate it to an integer value.
Clean the number of open complaints and extract the middle number which is changing between records. Pay attention that the number of open complaints is a categorical feature.

In [1055]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     954 non-null    object
 2   education                  9137 non-null   object
 3   customer lifetime value    9130 non-null   object
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  9137 non-null   object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(3), object(7)
memory usage: 943.4+ KB

#### Changing to String first

In [1056]:
df['customer lifetime value'] = df['customer lifetime value'].astype('string')    #as both were objects & should be integers

df['number of open complaints'] = df['number of open complaints'].astype('string')

In [1057]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     954 non-null    object
 2   education                  9137 non-null   object
 3   customer lifetime value    9130 non-null   string
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  9137 non-null   string
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(3), object(5), string(2)
memory usage: 943.4+ KB

#### Removing '%'s

In [1058]:
df['customer lifetime value'] = df['customer lifetime value'].str.replace('%','')  #checked that doesn't add more NaN values

df['number of open complaints'] = df['number of open complaints'].str.replace('%','')
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,<NA>,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

#### Clean & Extract Middle Number

Before changing to Float to Int, removing //.
How else to clean the number of open complaints? 
Pay attention that the number of open complaints is a categorical feature.

##### Options to explore:

#a) 
import re

for in in df['Number of complaints']:
    if type (i) == str:
        x = re.search(r'/(\d+)/', i')
        df['Number of open complaints'] = x.group(1)   
    else:
        df['Number of open complaints'] = x  

#b) 
apply.function

#c)
df = df['Number of complaints'].apply(lamda x: str(x).split('/')[0].split('/')[1]                     #regex similar to split

In [1059]:
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/0/(.*)','0', regex=True)
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/2/(.*)','2', regex=True)
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/1/(.*)','1', regex=True)
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/3/(.*)','3', regex=True)
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/5/(.*)','5', regex=True)

df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,<NA>,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

#### ONLY THING LEFT TO DO FOR LAB 1             --------------------------------------------------------          Changing to Float then to Integer

In [1060]:
df['customer lifetime value'] =  pd.to_numeric(df['customer lifetime value'], errors='coerce') #changes it to float
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     954 non-null    object
 2   education                  9137 non-null   object
 3   customer lifetime value    9130 non-null   float64
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  12074 non-null  object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(4), object(6)
memory usage: 943.4+ KB

In [1010]:
df['customer lifetime value'] =  df['customer lifetime value'].truncate
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     915 non-null    object
 2   education                  9137 non-null   object
 3   customer lifetime value    12074 non-null  object
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  12074 non-null  object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(3), object(7)
memory usage: 943.4+ KB

In [1063]:
#change nan of mean of columns 
df['customer lifetime value'] = df['customer lifetime value'].fillna(df['customer lifetime value'].mean())

In [1036]:
#then put it into an int and dropna first
#df = df.dropna() get rid of this

In [1064]:
df['customer lifetime value'] = df['customer lifetime value'].astype(int) #change to integers
df.select_dtypes(int)

       customer lifetime value
0                       182196
1                       697953
2                      1288743
3                       764586
4                       536307
...                        ...
12069                    23405
12070                     3096
12071                     8163
12072                     7524
12073                     2611

[12074 rows x 1 columns]

In [ ]:
df['number of open complaints'] = df['number of open complaints'].astype(int) 
df.select_dtypes(int)

In [ ]:
#then do same with the complaints one!

#### FILTERING & CORRECTING

In [993]:
df.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [994]:
def clean_gender(x):
    if x in ['M','male']:
        return 'Male'
    elif x in ['F', 'female',"Femal"]:
        return 'Female'
    elif np.nan:  pass
    else:
        return 'U' #if x if it contains what's in [], then return.

In [995]:
df['gender'] = list(map(clean_gender, df['gender'])) 
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,None,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,Arizona,Female,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,Nevada,Female,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,California,Male,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,Washington,Male,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,None,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,None,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,None,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,None,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,None,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [996]:
df.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [997]:
def clean_state(x):
    if x in ['AZ','Arizona']:
        return 'Arizona'
    elif x in ['WA', 'Washington']:
        return 'Washington'
    elif x in ['Cali', 'California']:
        return 'California'
    elif x in ['Nevada']:
        return 'Nevada'
    elif x in ['Oregon']:
        return 'Oregon'
    elif np.nan:  pass
    else:
        return 'U' #if x if it contains what's in [], then return.

In [998]:
df['state'] = list(map(clean_state, df['state'])) 
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,None,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,Arizona,Female,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,Nevada,Female,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,California,Male,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,Washington,Male,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,None,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,None,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,None,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,None,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,None,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

# Second part

#### Optional parts:
- (Optional) In the column `Vehicle Class`, nerge the two categories `Luxury SUV` and `Luxury Car` into one category named `Luxury Vehicle`  
- (Optional) Removing outliers using 1.5*IQR technique for all numerical columns.
- (Optional) Standardizing the data – Use string functions to standardize the text data (lower case)

### Replacement of Null Values  ---------------------------------------------------------- NOT READY

Replacing null values – Replace missing values with means of the column (for numerical columns). Pay attention that the Income feature for instance has 0s which is equivalent to null values. (We assume here that there is no such income with 0 as it refers to missing values).

Hint: numpy.nan is considered of float64 data type.

Possibly use fillna()

nulls_df = pd.DataFrame(round(hk_df.isna().sum()/len(hk_df),4)*100) #name of column and % of null values inside and you
#decide whether to drop it threshold if problem has around 20-30% then drop the column unless specified otherwise. 
nulls_df = nulls_df.reset_index()
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

In [926]:
columns_drop = nulls_df[nulls_df['percent_nulls']>1]['']  # dummy case with 3 
print(columns_drop.values)

NameError: name 'nulls_df' is not defined

In [928]:
columns_drop = df[df['gender']>1]['']  # dummy case with 3 Need to change to int first possibly 
print(columns_drop.values)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
Replacing null values for categorical variables

General Approaches:

Ignore observation
Replace by most frequent value
Replace using an algorithm like KNN using the neighbours.
Predict the observation using a multiclass predictor
Treat missing data as just another category

In [937]:
df[df['gender'].isna()==True] # checking rows that are null based on a specific column
#true table whether its a NaN or not

Empty DataFrame
Columns: [state, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount]
Index: []

In [932]:
df[df['gender'].isna().value_counts()                                           #so then you know

SyntaxError: unexpected EOF while parsing (1421153820.py, line 1)

In [934]:
df = df[df['gender'].isna()==False] # Since these nulls are not a lot, we can filter them 

#df = df[df['avg_fam_income'].isna()==False]
#df = df[df['per_capita_income'].isna()==False]

In [935]:
mean_median_home_value = np.mean(df['gender'])
df['gender'] = df['gender'].fillna(mean_median_home_value)

TypeError: Could not convert FemaleFemaleMaleMaleFemaleFemaleMaleMaleFemaleMaleMaleMaleFemaleMaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleMaleMaleFemaleFemaleFemaleMaleFemaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleMaleMaleFemaleMaleFemaleMaleFemaleFemaleFemaleMaleMaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleMaleMaleMaleFemaleFemaleFemaleFemaleMaleMaleFemaleMaleFemaleFemaleFemaleMaleMaleFemaleMaleFemaleFemaleFemaleMaleMaleMaleFemaleMaleFemaleFemaleMaleMaleMaleFemaleMaleFemaleMaleFemaleFemaleMaleFemaleMaleMaleMaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleMaleFemaleMaleFemaleFemaleMaleMaleMaleFemaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleMaleFemaleMaleFemaleMaleMaleMaleMaleMaleFemaleFemaleMaleFemaleFemaleFemaleFemaleMaleMaleMaleFemaleFemaleMaleMaleMaleFemaleFemaleMaleFemaleMaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleMaleMaleMaleFemaleMaleFemaleMaleMaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleFemaleMaleMaleMaleFemaleFemaleFemaleMaleMaleFemaleFemaleMaleMaleMaleFemaleFemaleFemaleFemaleMaleFemaleMaleFemaleFemaleMaleFemaleFemaleFemaleFemaleMaleFemaleMaleFemaleMaleFemaleMaleMaleMaleFemaleMaleMaleFemaleMaleFemaleMaleMaleFemaleFemaleMaleMaleMaleMaleFemaleFemaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleMaleFemaleFemaleMaleFemaleFemaleFemaleMaleMaleFemaleMaleFemaleMaleMaleMaleMaleFemaleMaleFemaleFemaleFemaleMaleMaleMaleMaleMaleFemaleFemaleMaleMaleFemaleMaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleMaleMaleFemaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleMaleMaleFemaleMaleMaleMaleFemaleMaleFemaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleMaleMaleFemaleMaleFemaleMaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleMaleMaleMaleFemaleFemaleFemaleFemaleFemaleMaleMaleMaleMaleFemaleFemaleMaleFemaleFemaleMaleMaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleFemaleFemaleMaleFemaleMaleFemaleFemaleMaleFemaleMaleMaleMaleMaleMaleMaleFemaleFemaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleMaleFemaleMaleFemaleFemaleMaleMaleMaleMaleFemaleMaleFemaleMaleFemaleMaleMaleMaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleMaleMaleFemaleMaleMaleMaleFemaleFemaleMaleMaleFemaleMaleFemaleFemaleMaleMaleFemaleMaleMaleMaleFemaleMaleMaleMaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleMaleMaleFemaleFemaleMaleMaleMaleMaleMaleFemaleFemaleMaleFemaleFemaleFemaleMaleFemaleFemaleMaleFemaleMaleFemaleMaleMaleMaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleMaleFemaleMaleMaleFemaleMaleMaleMaleMaleFemaleFemaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleFemaleFemaleMaleMaleMaleFemaleMaleMaleMaleFemaleMaleMaleFemaleMaleMaleMaleMaleFemaleMaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleMaleFemaleFemaleFemaleFemaleMaleMaleFemaleMaleMaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleFemaleFemaleMaleMaleMaleMaleFemaleFemaleFemaleFemaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleMaleFemaleMaleFemaleFemaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleFemaleFemaleFemaleMaleFemaleFemaleMaleFemaleFemaleMaleFemaleFemaleFemaleMaleMaleMaleMaleMaleFemaleMaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleFemaleMaleFemaleMaleMaleMaleMaleMaleMaleFemaleFemaleFemaleMaleFemaleFemaleFemaleMaleMaleMaleFemaleFemaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleFemaleFemaleMaleFemaleFemaleMaleMaleMaleFemaleFemaleFemaleFemaleMaleMaleMaleMaleFemaleFemaleFemaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleMaleMaleMaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleFemaleMaleMaleMaleFemaleMaleMaleMaleFemaleMaleFemaleFemaleFemaleFemaleMaleFemaleMaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleMaleMaleMaleMaleFemaleFemaleMaleFemaleMaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleFemaleFemaleMaleMaleFemaleMaleFemaleMaleFemaleMaleMaleMaleFemaleMaleFemaleFemaleFemaleMaleMaleFemaleFemaleFemaleFemaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleFemaleMaleFemaleFemaleMaleFemaleFemaleFemaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleMaleFemaleMaleFemaleFemaleMaleFemaleMaleMaleMaleMaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleFemaleFemale to numeric

In [999]:
df.info()                                     #then see how to see if they are non-null or not and how
                                    #df.isna().value.counts - do it per column then to find out if need to drop the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     915 non-null    object
 2   education                  9137 non-null   object
 3   customer lifetime value    9130 non-null   float64
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  12074 non-null  object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(4), object(6)
memory usage: 943.4+ KB

In [1000]:
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,None,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,Arizona,Female,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,Nevada,Female,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,California,Male,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,Washington,Male,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,California,None,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,None,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,None,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,None,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,None,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

## Bucketing the data

As: Arizona + Nevada = Central, California = West Region, Washington = East, Oregon = North West.

In [1001]:
df.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', None],
      dtype=object)

In [1002]:
def state_zoning(x):
    if x in ['Arizona', 'Nevada']:
        return 'Central'
    elif x in ['California']:
        return 'West Region'
    elif x in ['Washington']:
        return 'East Region'
    elif x in ['Oregon']:
        return 'North West'
    elif np.nan:  pass
    else:
        return 'U'
    
df['state'] = list(map(state_zoning, df['state'])) 
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,East Region,None,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,Central,Female,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,Central,Female,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,West Region,Male,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,East Region,Male,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
12069,West Region,None,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,West Region,None,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,West Region,None,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,West Region,None,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,West Region,None,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

#### Another option to explore: 

df['State Zones'] = pd.cut(df['State'], bins=['Arizona', 'Nevada', 'California', 'Washington', 'Oregon', 'AZ',
       'WA', 'Cali'], labels=['Central', 'West Region', 'Young Adult', 'Adult', 'Elder'])
print(df)
print(df[['Customer ID', 'Gender', 'Age', 'age_category']])

In [ ]:
#RE-NAME COLUMN TO SOMETHING OTHER THAN STATE

#### Rounding decimals

In [1003]:
df['total claim amount'] = df['total claim amount'].round(decimals = 1)
df['income'] = df['income'].round(decimals = 0)
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,East Region,None,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.7
1,Central,Female,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.5
2,Central,Female,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.5
3,West Region,Male,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.9
4,East Region,Male,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.3
...,...,...,...,...,...,...,...,...,...,...
12069,West Region,None,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.2
12070,West Region,None,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.2
12071,West Region,None,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.8
12072,West Region,None,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.2
12073,West Region,None,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.6

In [ ]:
#fillna(0) - fill nons with 0 as 0 complaints - an assumption
#is it better to call it something else than df
#do i need to pull the changes from github

# THE ONLY BITS LEFT

### Two columns to floats then Integers
### AND
### Null Values

# THIRD PART

In [ ]:
ca_df['state'] = ca_df['state'].replace('California', "West Region") for luxury cars